body {
    margin: 0;
    padding: 0;

    background: rgba(246, 246, 246, 1);
}

* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}

header {
    position: fixed;
    width: -webkit-fill-available;
    height: 32px;
    left: 0;
    top: 0;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 0px 0px 16px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    gap: 10px;
}

.navpanel {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 16px;
    height: 32px;
    flex: none;
    flex-grow: 0;
}

.navpanel a {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px;
    gap: 10px;
    flex: none;
    flex-grow: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #373745;
    text-decoration: none
}
button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.navpanel .active {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px;
    gap: 10px;
    background: #60C2AA;
    border-radius: 200px;
    color: white;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.maincontainer {
    margin-top: 64px;
    padding: 80px 40px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.tablecontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 24px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 40px;   
}

.subjectheader {
    height: 36px;
    gap: 999px;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #373745;
}

.subjecttable {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
  }

.subjecticon {
    width: 24px;
    height: 24px;
}
.subjecticon1 {
    width: 20px;
    height: 20px;
}

.wrapper {
    display: grid;
    padding: 4px 0px;
}

.subjectrow {
    display: grid;
    grid-template-columns:  440px 108px 46px 152px 160px 160px 190px;
    padding: 0;
    gap: 16px;
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px #EEEFF5;
    justify-content: center;
    align-items: center;
}

.tableheader {
    gap: 10px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #373745;
}

.cell1 {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #373745;
    justify-content: center;
}
.cell2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
    gap: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #FFFFFF;
    width: 136px;
    height: 32px;
    background: #A8D37F;
    border-radius: 6px;

}

.cell2Block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
    gap: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #FFFFFF;
    width: 136px;
    height: 32px;
    background: #EC7777;
    border-radius: 6px;

}

.cell3 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #373745;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 174px;
    height: 40px;
    gap: 8px;
    background: #F7F7F7;
    border-radius: 8px;
}

.add{
    display: flex;
    flex-direction: row;
    width: 173px;
    height: 48px;
    background: #60C2AA;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.24px;
    color: #FFFFFF;
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    padding: 40px 24px;
    gap: 20px;
    width: 362px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 16px;
}
.modalWindow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.iconWinner {
    width: 132px;
    height: 165.36px;
}
.headerWinner {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #373745;
}

.modalNew {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 8px;

    width: 352px;
    height: 48px;

    background: #60C2AA;
    border-radius: 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.24px;

    color: #FFFFFF;
}

.modalMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 8px;

    width: 352px;
    height: 48px;

    background: #F7F7F7;
    border-radius: 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.24px;

    color: #373745;

}