body {
    margin: 0;
    padding: 0;

    background: rgba(246, 246, 246, 1);
}

* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}

header {
    position: fixed;
    width: -webkit-fill-available;
    height: 32px;
    left: 0;
    top: 0;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 0px 0px 16px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    gap: 10px;
}

.navpanel {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 16px;
    height: 32px;
    flex: none;
    flex-grow: 0;
}

.navpanel a {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px;
    gap: 10px;
    flex: none;
    flex-grow: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #373745;
    text-decoration: none
}
button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.navpanel .active {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px;
    gap: 10px;
    background: #60C2AA;
    border-radius: 200px;
    color: white;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.maincontainer {
    margin-top: 64px;
    padding: 80px 40px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.tablecontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 24px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 40px;   
}

.subjectheader {
    height: 36px;

    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #373745;
}

.subjecttable {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 962px;
  }

.subjecticon {
    width: 16px;
    height: 16px;
}

.wrapper {
    display: grid;
    padding: 4px 0px;
}

.subjectrow {
    display: grid;
    grid-template-columns:  678px 160px 140px;
    height: 48px;
    padding: 0;
    gap: 16px;
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px #EEEFF5;
}

.tableheader {
    padding: 8px;
    gap: 10px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #373745;
}
.cell{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    width: 678px;
    height: 48px;
}



.cell1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 8px;
    gap: 8px;

    width: 214px;
    height: 32px;

    border-radius: 4px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #373745;
    margin: 8px 0px 8px 8px;
}

.cell2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.24px;

    /* Gray / 700 */

    color: #373745;
    width: 55px;
    height: 24px;
    font-style: normal;
    margin: 12px 0px;

}

.cell3 {
    /* Body / 16px regular */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    margin: 8px 8px 16px 8px;
    letter-spacing: 0.24px;

    /* Gray / 700 */

    color: #373745;
}