body {
    margin: 0;
    padding: 0;

    background: rgba(246, 246, 246, 1);
}

* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}

header {
    position: fixed;
    width: -webkit-fill-available;
    height: 32px;
    left: 0;
    top: 0;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 0px 0px 16px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    gap: 10px;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#nav-panel {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 16px;
    height: 32px;
    flex: none;
    flex-grow: 0;
}

#nav-panel a {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px;
    gap: 10px;
    flex: none;
    flex-grow: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    letter-spacing: 0.24px;
    color: #373745;
}

#nav-panel .active {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px;
    gap: 10px;
    background: #60C2AA;
    border-radius: 200px;
    color: white;
    flex: none;
    order: 0;
    flex-grow: 0;
}

