body {
    margin: 0;
    padding: 0;

    background: rgba(246, 246, 246, 1);
}

* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}

header {
    position: fixed;
    width: -webkit-fill-available;
    height: 32px;
    left: 0;
    top: 0;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 0px 0px 16px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    gap: 10px;
}

.navpanel {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 16px;
    height: 32px;
    flex: none;
    flex-grow: 0;
}

.navpanel a {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px;
    gap: 10px;
    flex: none;
    flex-grow: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #373745;
    text-decoration: none
}
button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.navpanel .active {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px;
    gap: 10px;
    background: #60C2AA;
    border-radius: 200px;
    color: white;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.maincontainer {
    margin-top: 64px;
    padding: 80px 40px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.tablecontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 24px;
    bottom: 80px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 40px;
}

.subjectheader {
    height: 36px;
    gap: 329px;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #373745;
}

.toogle {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    letter-spacing: 0.24px;
    height: 36px;
    align-items: center;
    text-align: center;
    color: #373745;
}

.subjecttable {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;

}

.wrapper {
    display: grid;
    padding: 4px 0px;

}

.subjectrow {
    display: grid;
    grid-template-columns:  360px 100px 161px;
    background: #FFFFFF;
    gap: 16px;
    width: 717px;
    height: 72px;
}


.tableheader {
    padding: 8px;
    gap: 10px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #373745;
}

.cell1 {
    margin: 24px 0px;
    gap: 10px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #373745;
}

.cell2Free {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
    gap: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.24px;

    /* Gray / White */

    color: #FFFFFF;
    width: 100px;
    height: 32px;

    background: #A8D37F;
    border-radius: 6px;
}

.cell2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
    gap: 4px;
    width: 100px;
    height: 32px;
    background: #87CAE8;
    border-radius: 6px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.24px;
    color: #FFFFFF;
}

.cell3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 12px 0px 12px 64px;
    gap: 8px;

    width: 161px;
    height: 48px;
    background: #F7F7F7;
    border-radius: 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    opacity: 0.3;
    letter-spacing: 0.24px;
    color: #373f45;
}

.cell3Free {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 12px 0px 12px 64px;
    gap: 8px;

    width: 161px;
    height: 48px;
    background: #60C2AA;
    border-radius: 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.24px;
    color: #FFFFFF;
}

input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

.label {
    display: flex;
    align-items: center;
    color: #373745;
    cursor: pointer;
    text-indent: -9999px;
    height: 14px;
    width: 33px;
    background: #DCDCDF;
    border-radius: 100px;
}

.label:after {
    display: flex;
    align-items: center;
    text-align: center;
    color: #373745;

    content: '';

    box-sizing: border-box;
    width: 20px;
    height: 20px;
    background: #F7F7F7;
    border: 1px solid rgba(137, 137, 147, 0.2);
    border-radius: 90px;
    transition: 0.3s;

}

input:checked + .label {
    background: #60C2AA;
}


input:checked + .label:after {
    transform: translateX(90%);
    background: #3BA189;
}


