body {
    margin: 0;
    padding: 0;

    background: rgba(246, 246, 246, 1);
}

* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}

header {
    position: fixed;
    width: -webkit-fill-available;
    height: 32px;
    left: 0;
    top: 0;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 0px 0px 16px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    gap: 10px;
}
#nav-panel {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 16px;
    height: 32px;
    flex: none;
    flex-grow: 0;
}

#nav-panel div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px;
    gap: 10px;
    flex: none;
    flex-grow: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #373745;
}
button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#nav-panel .active {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px;
    gap: 10px;
    background: #60C2AA;
    border-radius: 200px;
    color: white;
    flex: none;
    order: 0;
    flex-grow: 0;
}
#main-container {
    justify-content: center;
    height: 100vh;
    display: flex;
    align-items: center;
}

#table-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 24px;
    width: 962px;
    max-height: 100vh;
    bottom: 80px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 40px;   
}

#subject-header {
    width: 189px;
    height: 36px;

    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #373745;
}

#subject-table {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 962px;
  }

.wrapper {
    display: grid;
    padding: 4px 0px;
    width: 962px;
}

.subject-row {
    display: grid;
    grid-template-columns:  440px 108px 108px 108px 134px;
    height: 40px;  
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px #EEEFF5; 
    padding: 4px 0px;
    gap: 16px; 
}

.table-header {
    padding: 8px;
    gap: 10px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #373745;
}

.cell1 {
    padding: 8px;
    gap: 10px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #373745;
}

.cell2 {
    padding: 8px;
    gap: 10px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #69B849;
}

.cell3 {
    padding: 8px;
    gap: 10px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.24px;
    color: #E93E3E;
}