<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/auth.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
<div id="main-container">
  <form id="auth-container" method="POST" action="/">
    <div><img class="subject-icon" src="/images/auth-logo.svg"/></div>
    <div class="subject-header">Войдите в игру</div>
    <div id="auth-interactive-elements">
      <input type="text" placeholder="Логин" class="subject-text" id="login" name="login">
      <input type="text" placeholder="Пароль" class="subject-text" id="password" name="password">
    </div>
    <input type="submit" class="subject-button" value="Войти">
  </form>
</div>
<script>
  const sendForm = (e) => {
    console.log('Логин: ', document.querySelector('#login').value)
    console.log('Пароль: ', document.querySelector('#password').value)
  };

  const pressOnInput = (e) => {
    if (e.charCode == 46 || e.charCode == 95 || (e.charCode >= 65 && e.charCode <= 90)
            || (e.charCode >= 97 && e.charCode <= 122) || (e.charCode >= 48 && e.charCode <= 57))
      return true;
    else {
      e.preventDefault();
    }
  };

  document.querySelector('#auth-container').addEventListener('submit', sendForm);
  document.querySelector('#auth-interactive-elements').addEventListener('keypress', pressOnInput);
</script>
</body>
</html>