<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страничка с простым каркасом</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/rating.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div id="logo"><img src="/images/s-logo.svg"/></div>
    <div id="nav-panel">
        <div>Игровое поле</div>
        <div class="active">Рейтинг</div>
        <div>Активные игроки</div>
        <div>История игр</div>
        <div>Список игроков</div>
    </div>
    <button><img src="/images/signout-icon.svg"/></button>
</header>
<div id="main-container">
    <div id="table-container">
        <div id="subject-header">Рейтинг игроков</div>
        <div id="subject-table">
            <div class="wrapper">
                <div class="subject-row">
                    <div class="table-header">ФИО</div>
                    <div class="table-header">Всего игр</div>
                    <div class="table-header">Победы</div>
                    <div class="table-header">Проигрыши</div>
                    <div class="table-header">Процент побед</div>
                </div>
                <% mascots.forEach(function(mascot) { %>
                    <div class="subject-row">
                            <div class="cell1"><%= mascot.name %></div>
                            <div class="cell1"><%= mascot.game %></div>
                            <div class="cell2"><%= mascot.win %></div>
                            <div class="cell3"><%= mascot.lose %></div>
                            <div class="cell1"><%= mascot.winrate %></div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>
</body>
</html>