body {
    margin: 0;
    padding: 0;
    background: rgba(246, 246, 246, 1);
}

* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}

#main-container {
    justify-content: center;
    height: 100vh;
    display: flex;
    align-items: center;
}

#auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 24px;
    gap: 20px;
    margin: auto;
    width: 352px;
    height: 384px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 16px;
}

#main-container .subject-icon {
    width: 132px;
    height: 132px;
}

#main-container .subject-header {
    height: 36px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #373745;
}

#auth-interactive-elements {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    width: -webkit-fill-available;
}

#auth-interactive-elements .subject-text {
    box-sizing: border-box;
    padding: 12px 20px;
    width: -webkit-fill-available;
    height: 48px;
    border: 1px solid #DCDCDF;
    border-radius: 12px;
    resize: none;
}

::placeholder {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.24px;
    color: #B1B1B7;
}

.subject-button {
    display: flex;
    justify-content: center;
    padding: 12px 20px;
    gap: 8px;
    width: -webkit-fill-available;
    height: 48px;
    background: rgba(96, 194, 170, 0.3);
    border: none;
    border-radius: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #FFFFFF;
    
}
